<p-toast></p-toast>

<p-confirmPopup></p-confirmPopup>

<div class="w-full h-full">
  <div>
    <p-tabView>
      <p-tabPanel header="check-In">
        <p-table [value]="checkin_visitors">
          <ng-template pTemplate="header">
            <tr>
              <th>Employee Name</th>
              <th>Allow Access</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-visitor>
            <tr (click)="confirm($event,visitor)">
              <td>{{visitor.employee_name}}</td>
              <p-button label="Allow Access"></p-button>
            </tr>
          </ng-template>
        </p-table>
      </p-tabPanel>
      <p-tabPanel header="check-out">
        <p-table [value]="checkout_visitors">
          <ng-template pTemplate="header">
            <tr>
              <th>Employee Name</th>
              <th>exit Access</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-visitor>
            <tr (click)="confirmCheckout($event,visitor)">
              <td>{{visitor.employee_name}}</td>
              <p-button label="Approve exit"></p-button>
            </tr>
          </ng-template>
        </p-table>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
